In [1]:
import sqlite3
import pandas as pd
import feather
from multiprocessing import Pool

In [2]:
conn = sqlite3.connect("database.sqlite")

In [3]:
df = pd.read_sql_query("SELECT * FROM Player_Attributes LIMIT 10",conn)

In [4]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7

In [5]:
df_2016 = pd.read_sql_query("SELECT * FROM Player_Attributes",conn)

In [6]:
df_2016.shape

(183978, 42)

In [7]:
df_2016['DATETIME'] = pd.to_datetime(df_2016['date'])

In [8]:
df_2016.shape

(183978, 43)

In [9]:
df_2016.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,DATETIME
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2016-02-18
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015-11-19
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,2015-09-21
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2015-03-20
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2007-02-22

In [10]:
df_2016 = df_2016.loc[df_2016['DATETIME'].dt.year==2016]

In [11]:
df_2016.tail(35)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,DATETIME
183513,183514,195090,157284,2016-01-21 00:00:00,73.0,73.0,right,medium,medium,12.0,...,16.0,13.0,16.0,18.0,79.0,69.0,59.0,76.0,76.0,2016-01-21
183571,183572,206209,290868,2016-04-21 00:00:00,67.0,71.0,right,medium,medium,67.0,...,47.0,67.0,66.0,68.0,11.0,8.0,10.0,16.0,13.0,2016-04-21
183572,183573,206209,290868,2016-01-14 00:00:00,68.0,72.0,right,medium,medium,67.0,...,47.0,69.0,67.0,71.0,11.0,8.0,10.0,16.0,13.0,2016-01-14
183589,183590,207780,169594,2016-02-11 00:00:00,65.0,66.0,left,high,medium,61.0,...,47.0,66.0,67.0,66.0,13.0,9.0,11.0,12.0,14.0,2016-02-11
183607,183608,223263,244953,2016-05-05 00:00:00,64.0,69.0,right,medium,medium,59.0,...,42.0,63.0,66.0,65.0,6.0,11.0,15.0,10.0,9.0,2016-05-05
183608,183609,223263,244953,2016-03-10 00:00:00,64.0,71.0,right,medium,medium,59.0,...,42.0,64.0,67.0,66.0,6.0,11.0,15.0,10.0,9.0,2016-03-10
183625,183626,228821,642618,2016-04-21 00:00:00,67.0,79.0,right,high,high,69.0,...,55.0,52.0,60.0,62.0,13.0,8.0,11.0,11.0,9.0,2016-04-21
183626,183627,228821,642618,2016-04-07 00:00:00,67.0,81.0,right,high,high,69.0,...,55.0,52.0,60.0,62.0,13.0,8.0,11.0,11.0,9.0,2016-04-07
183627,183628,228821,642618,2016-01-28 00:00:00,67.0,81.0,right,high,high,69.0,...,55.0,52.0,60.0,62.0,13.0,8.0,11.0,11.0,9.0,2016-01-28
183628,183629,228821,642618,2016-01-21 00:00:00,66.0,79.0,right,high,high,72.0,...,55.0,52.0,63.0,64.0,13.0,8.0,11.0,11.0,9.0,2016-01-21
183634,183635,204227,277772,2016-04-28 00:00:00,67.0,73.0,left,medium,low,53.0,...,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0,2016-04-28
183635,183636,204227,277772,2016-03-24 00:00:00,66.0,72.0,left,medium,low,53.0,...,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0,2016-03-24
183636,183637,204227,277772,2016-02-25 00:00:00,66.0,72.0,left,medium,low,53.0,...,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0,2016-02-25
183637,183638,204227,277772,2016-01-28 00:00:00,64.0,70.0,left,medium,low,51.0,...,59.0,18.0,29.0,16.0,12.0,13.0,8.0,11.0,9.0,2016-01-28
183693,183694,176103,12574,2016-02-04 00:00:00,72.0,72.0,right,high,medium,70.0,...,59.0,32.0,49.0,54.0,6.0,16.0,16.0,6.0,8.0,2016-02-04
183694,183695,176103,12574,2016-01-21 00:00:00,72.0,72.0,right,high,medium,70.0,...,59.0,32.0,49.0,54.0,6.0,16.0,16.0,6.0,8.0,2016-01-21
183713,183714,141111,39494,2016-04-14 00:00:00,67.0,67.0,right,None,7,59.0,...,70.0,29.0,32.0,30.0,16.0,15.0,9.0,16.0,9.0,2016-04-14
183714,183715,141111,39494,2016-02-11 00:00:00,68.0,68.0,right,None,7,59.0,...,70.0,29.0,32.0,30.0,16.0,15.0,9.0,16.0,9.0,2016-02-11
183737,183738,188405,17233,2016-05-05 00:00:00,65.0,65.0,right,medium,low,67.0,...,76.0,19.0,26.0,18.0,11.0,14.0,11.0,7.0,16.0,2016-05-05
183738,183739,188405,17233,2016-03-24 00:00:00,65.0,65.0,right,medium,low,67.0,...,76.0,19.0,26.0,18.0,11.0,14.0,11.0,7.0,16.0,2016-03-24
183739,183740,188405,17233,2016-01-21 00:00:00,66.0,66.0,right,medium,low,69.0,...,76.0,19.0,26.0,18.0,11.0,14.0,11.0,7.0,16.0,2016-01-21
183750,183751,173474,42860,2016-04-28 00:00:00,78.0,78.0,right,high,high,86.0,...,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0,2016-04-28
183751,183752,173474,42860,2016-03-03 00:00:00,78.0,78.0,right,high,high,86.0,...,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0,2016-03-03
183752,183753,173474,42860,2016-02-18 00:00:00,78.0,78.0,right,high,high,86.0,...,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0,2016-02-18
183753,183754,173474,42860,2016-01-07 00:00:00,78.0,78.0,right,high,high,86.0,...,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0,2016-01-07
183822,183823,179712,107281,2016-01-21 00:00:00,73.0,74.0,left,medium,medium,69.0,...,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0,2016-01-21
183872,183873,105454,99031,2016-05-05 00:00:00,79.0,79.0,left,high,medium,70.0,...,67.0,33.0,45.0,36.0,7.0,13.0,15.0,8.0,13.0,2016-05-05
183873,183874,105454,99031,2016-04-28 00:00:00,79.0,79.0,left,high,medium,70.0,...,67.0,33.0,45.0,36.0,7.0,13.0,15.0,8.0,13.0,2016-04-28
183874,183875,105454,99031,2016-04-07 00:00:00,79.0,79.0,left,high,medium,70.0,...,67.0,33.0,45.0,36.0,7.0,13.0,15.0,8.0,13.0,2016-04-07
183875,183876,105454,99031,2016-03-03 00:00:00,80.0,80.0,left,high,medium,70.0,...,67.0,33.0,44.0,35.0,7.0,13.0,15.0,8.0,13.0,2016-03-03
183876,183877,105454,99031,2016-01-21 00:00:00,80.0,80.0,left,high,medium,70.0,...,67.0,33.0,44.0,35.0,7.0,13.0,15.0,8.0,13.0,2016-01-21
183877,183878,105454,99031,2016-01-14 00:00:00,80.0,80.0,left,high,medium,70.0,...,67.0,33.0,44.0,35.0,7.0,13.0,15.0,8.0,13.0,2016-01-14
183895,183896,195840,192132,2016-01-21 00:00:00,64.0,64.0,left,medium,medium,65.0,...,76.0,39.0,26.0,24.0,16.0,10.0,12.0,8.0,8.0,2016-01-21
183903,183904,205705,282473,2016-02-04 00:00:00,75.0,76.0,left,medium,medium,57.0,...,48.0,78.0,79.0,71.0,13.0,14.0,12.0,10.0,8.0,2016-02-04
183904,183905,205705,282473,2016-01-21 00:00:00,75.0,76.0,left,medium,medium,60.0,...,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0,2016-01-21

In [12]:
player_names = pd.read_sql_query("SELECT p.*,PA.* FROM Player p INNER JOIN Player_Attributes PA ON p.player_fifa_api_id=PA.player_fifa_api_id",conn)

In [13]:
player_names['DATETIME'] = pd.to_datetime(player_names['date'])

In [14]:
player_names['DATETIME'].dtype

dtype('<M8[ns]')

In [15]:
player_names = player_names.loc[player_names['DATETIME'].dt.year==2016]

In [16]:
player_names.columns

Index(['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday',
       'height', 'weight', 'id', 'player_fifa_api_id', 'player_api_id', 'date',
       'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes', 'DATETIME'],
      dtype='object')

In [17]:
player_names[player_names['player_name'].str.contains("Aguero")]['overall_rating']

160786    88.0
160787    88.0
160788    88.0
Name: overall_rating, dtype: float64

In [18]:
columns_keep = ["player_name", "overall_rating","sprint_speed", "agility","jumping","strength","standing_tackle", "sliding_tackle"]

In [19]:
player_names.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,id,player_fifa_api_id,player_api_id,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,DATETIME
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,1,218353,505942,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2016-02-18
5,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,6,189615,155782,...,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,2016-04-21
6,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,7,189615,155782,...,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,2016-04-07
7,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146,8,189615,155782,...,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0,2016-01-07
38,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163,39,186170,162549,...,61.0,23.0,22.0,24.0,16.0,11.0,12.0,9.0,13.0,2016-01-07

In [20]:
player_names_keep = player_names[columns_keep]

In [21]:
df_16_keep = player_names_keep

In [22]:
df_16_keep.head()

,player_name,overall_rating,sprint_speed,agility,jumping,strength,standing_tackle,sliding_tackle
0,Aaron Appindangoye,67.0,64.0,59.0,58.0,76.0,69.0,69.0
5,Aaron Cresswell,74.0,78.0,78.0,85.0,56.0,75.0,78.0
6,Aaron Cresswell,74.0,78.0,78.0,85.0,56.0,75.0,78.0
7,Aaron Cresswell,73.0,78.0,78.0,84.0,56.0,75.0,78.0
38,Aaron Doran,65.0,74.0,85.0,65.0,71.0,22.0,24.0

In [23]:
df_16_keep['season'] = "2015-16"

/Users/sethweiland/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_16_keep.shape

(14098, 9)

In [25]:
df_18 = pd.read_csv("fifa_18/FullData.csv")

/Users/sethweiland/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
df_18.shape

(17981, 75)

In [27]:
df_18.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
       'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing',
       'Free kick accuracy', 'GK diving', 'GK handling', 'GK kicking',
       'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions',
       'Jumping', 'Long passing', 'Long shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short passing', 'Shot power',
       'Sliding tackle', 'Sprint speed', 'Stamina', 'Standing tackle',
       'Strength', 'Vision', 'Volleys', 'CAM', 'CB', 'CDM', 'CF', 'CM', 'ID',
       'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB',
       'Preferred Positions', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM',
       'RS', 'RW', 'RWB', 'ST'],
      dtype='object')

In [28]:
df_18_keep = df_18[['Name', "Overall", "Sprint speed", "Agility","Jumping","Strength", "Standing tackle", "Sliding tackle"]]

In [29]:
df_18_keep['season'] = "2017-18"

/Users/sethweiland/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
df_18_keep.shape

(17981, 9)

In [31]:
df_19 = pd.read_csv("fifa_19/FullData.csv")

In [32]:
df_19.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [33]:
df_19_keep = df_19[["Name", "Overall", "SprintSpeed", "Agility","Jumping", "Strength", "StandingTackle", "SlidingTackle"]]

In [34]:
df_19_keep['season'] = "2018-19"

/Users/sethweiland/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
df_19_keep.shape

(18207, 9)

In [36]:
df_17 = pd.read_csv("fifa_17/FullData.csv")

In [37]:
df_17.shape

(17588, 53)

In [38]:
df_17.columns

Index(['Name', 'Nationality', 'National_Position', 'National_Kit', 'Club',
       'Club_Position', 'Club_Kit', 'Club_Joining', 'Contract_Expiry',
       'Rating', 'Height', 'Weight', 'Preffered_Foot', 'Birth_Date', 'Age',
       'Preffered_Position', 'Work_Rate', 'Weak_foot', 'Skill_Moves',
       'Ball_Control', 'Dribbling', 'Marking', 'Sliding_Tackle',
       'Standing_Tackle', 'Aggression', 'Reactions', 'Attacking_Position',
       'Interceptions', 'Vision', 'Composure', 'Crossing', 'Short_Pass',
       'Long_Pass', 'Acceleration', 'Speed', 'Stamina', 'Strength', 'Balance',
       'Agility', 'Jumping', 'Heading', 'Shot_Power', 'Finishing',
       'Long_Shots', 'Curve', 'Freekick_Accuracy', 'Penalties', 'Volleys',
       'GK_Positioning', 'GK_Diving', 'GK_Kicking', 'GK_Handling',
       'GK_Reflexes'],
      dtype='object')

In [39]:
df_17_keep = df_17[['Name', "Rating", "Speed", "Agility","Jumping","Strength", "Standing_Tackle", "Sliding_Tackle"]]

In [40]:
df_17_keep['season'] = "2016-17"

/Users/sethweiland/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
df_17_keep.columns

Index(['Name', 'Rating', 'Speed', 'Agility', 'Jumping', 'Strength',
       'Standing_Tackle', 'Sliding_Tackle', 'season'],
      dtype='object')

In [42]:
df_16_keep.columns = df_17_keep.columns

In [43]:
df_18_keep.columns = df_17_keep.columns

In [44]:
df_19_keep.columns = df_17_keep.columns

In [45]:
df_list_fifas = [df_16_keep, df_17_keep,df_18_keep,df_19_keep]

In [46]:
df_total = pd.concat(df_list_fifas)

In [47]:
df_total.columns

Index(['Name', 'Rating', 'Speed', 'Agility', 'Jumping', 'Strength',
       'Standing_Tackle', 'Sliding_Tackle', 'season'],
      dtype='object')

In [48]:
df_total.shape

(67874, 9)

In [49]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67874 entries, 0 to 18206
Data columns (total 9 columns):
Name               67874 non-null object
Rating             67874 non-null float64
Speed              67826 non-null object
Agility            67826 non-null object
Jumping            67826 non-null object
Strength           67826 non-null object
Standing_Tackle    67826 non-null object
Sliding_Tackle     67826 non-null object
season             67874 non-null object
dtypes: float64(1), object(8)
memory usage: 5.2+ MB

In [50]:
convert_numeric = ['Rating',"Speed", "Agility","Jumping","Strength", "Standing_Tackle", "Sliding_Tackle"]

In [51]:
df_total[convert_numeric] = df_total[convert_numeric].apply(pd.to_numeric,errors = "coerce")

In [52]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67874 entries, 0 to 18206
Data columns (total 9 columns):
Name               67874 non-null object
Rating             67874 non-null float64
Speed              67712 non-null float64
Agility            67755 non-null float64
Jumping            67756 non-null float64
Strength           67722 non-null float64
Standing_Tackle    67702 non-null float64
Sliding_Tackle     67731 non-null float64
season             67874 non-null object
dtypes: float64(7), object(2)
memory usage: 5.2+ MB

In [53]:
df_total.dropna(inplace=True)

In [54]:
df_total.shape

(67499, 9)

In [55]:
df_total.drop_duplicates(inplace=True)

In [56]:
df_total.shape

(62366, 9)

In [57]:
feather.write_dataframe(df_total, "fifa_df.feather")

## This feathered dataframe will be revisited and merged with the main dataset that has our target feature "fee_cleaned" i.e. player acquisition price